.env
**/.env
# Node / frontend
node_modules/
dist/
.DS_Store

# Python / backend
__pycache__/
*.pyc
venv/
.venv/
backend/.data/
backend/*.db
backend/instance/*.db
backend/.uploads/


# VS Code
.vscode/